<!--<iframe class="flex-1"-->
<!--        src="https://app.powerbi.com/reportEmbed?navContentPaneEnabled=false&reportId=6e6a6657-3a13-4b80-b0a9-d691312a9b91&autoAuth=true&ctid=5ee6aaa2-836c-436f-a302-256435f43710&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D&filterPaneEnabled=False"-->
<!--        frameborder="0"-->
<!--        allowFullScreen="true"></iframe>-->
<div class="flex-1 justify-content-center">

  <iframe width="1140" height="541.25"
          src="https://app.powerbi.com/reportEmbed?reportId=6e6a6657-3a13-4b80-b0a9-d691312a9b91&autoAuth=true&ctid=5ee6aaa2-836c-436f-a302-256435f43710&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D&filterPaneEnabled=false&navContentPaneEnabled=false"
          frameborder="0" allowFullScreen="true"></iframe>
</div>
